@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
  font-size: 16px;
}

.dash {
  margin: 0;
  font-family: "Roboto";
  display: grid;
  grid-template-columns: 15rem auto;
  height: 100vh;
  background-color: #0F1219;
  color: #FAFAFA;
}

.dash-item{
  flex-grow: 1;
}

.nav{
  display: flex;
  flex-direction: column;
}

.nav-item{
  flex-grow: 1;
}

.nav-item.logo{
  max-height: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
}

.nav-item.logo img{
  background-color: white;
  border-radius: 50%;
}

.nav-item.menu{
  display: flex;
  flex-direction: column;
}

.menu > ul{
  flex-grow: 1;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
}

.menu > ul li{
  margin-bottom: 3rem;
}

.menu > ul li.selected,
.menu > ul li:hover{
  color: #76AAFF;
}

.menu > ul li.selected img,
.menu > ul li:hover img{
  filter: invert(56%) sepia(83%) saturate(1181%) hue-rotate(194deg) brightness(105%) contrast(107%);
}

.menu > ul li:not(.divider){
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.menu > ul li > img,
.menu > ul li > a > img{
  margin-right: 8px;
}

.menu > ul li > a{
  display: flex;
  text-decoration: none;
  color: inherit;
}

.nav-item.footer{
  max-height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer > img{
  cursor: pointer;
}

.footer > img,
.footer a{
  padding-left: 20px;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

header{
  max-height: 6rem;
}

section.dash-item{
  display: flex;
  flex-direction: column;
}

header, main{
  flex-grow: 1;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-left{
  display: flex;
  margin-left: 1.25rem;
}

.header .header-right{
  display: flex;
  margin-right: 1.25rem;
  align-items: center;
  gap: 1.25rem;
}

.header-right .chevron{
  filter: invert(64%) sepia(8%) saturate(3661%) hue-rotate(187deg) brightness(102%) contrast(102%);
}

.header-right .search {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #677797;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.40) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.main .transfers{
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #2a3347ff;
  border-radius: 10px;
}

.transfers .header-right .selector{
  display: inline-flex;
  padding: 0.25rem 0.5rem;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.25rem;
  background-color: #677797;
  height: 1.63rem;
  cursor: pointer;
}

.transfers .header-right .selector img:last-child{
  filter: invert(100%) sepia(0%) saturate(7469%) hue-rotate(161deg) brightness(113%) contrast(103%);
}

.transfers table {
  border-collapse: collapse;
  width: 100%;
}

.transfers td, .transfers th {
  border-bottom: 1px solid #3f4147ff;
  text-align: left;
  padding: 8px;
  height: 2rem;
}

.transfers tr:nth-child(even) {
  background-color: #19222eff;
}
