@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

html {
    font-size: 16px;
}

body{
    margin: 0;
    font-family: 'Roboto';
    display: grid;
    grid-template-areas:
        'header'
        'main'; 
    row-gap: 10rem;
    height: 100vh;
    color: #FAFAFA;
    background: radial-gradient(70.22% 70.22% at 50% 50%, rgba(15, 18, 25, 0.80) 0%, rgba(15, 18, 25, 0.86) 18.05%, #0F1219 96.03%);
}

header, main{
    margin: 0 8rem;
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    height: 3.18rem;
}

header nav ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    padding: 0;
}

header nav ul li{
    cursor: pointer;
}

header a{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #748bc2ff;
    color: #748bc2ff;
    text-decoration: none;
    cursor: pointer;
}

main{
    grid-area: main;
    display: flex;
}

.titles{
    width: 42rem;
}

.titles h2{
    margin: 0;
    color: #84a0dfff;
}

.titles h1{
    margin: 0.5rem 0 0 0;
    font-size: 6rem;
    color: #93b2f8ff;
}

.titles h3{
    margin: 1rem 0 0 0;
}

.titles .buttons{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.titles button{
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    color: #FAFAFA;
    background-color: #8C9CBC;
    font-size: 1.3rem;
    cursor: pointer;
}

.titles button img{
    margin-left: 1rem;
}

.background{
    background-image: url("../assets/vectors/home_background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 36rem;
    width: 55rem;
}


@media(width < 1810px){

    main{
        justify-content: center;
    }

    .titles {
        width: 30rem;
    }
    .titles h1{
        font-size: 4rem;
    }
    .titles h2{
        font-size: 1.3rem;
    }
    .titles h3{
        font-size: 1rem;
    }

    .background {
        height: 25rem;
        width: 40rem;
    }
}

@media(width < 1375px){
    body{
        row-gap: 5rem;
    }

    header, main {
        margin: 3rem 4rem 0;
    }

    main {
        flex-direction: column;
        align-items: center;
        row-gap: 4rem;
    }
}